/* Default blockquote margins are huge, so we remove these. */
blockquote {
  margin: 0;
}

/* Instead of setting on `blockquote`, we set the styles here as dropping the
 block causes weird distortion to the left border otherwise. */
.bn-block-content:has(blockquote) {
  border-left: 1px solid gray;
  padding-left: 16px;
  color: gray;
}

/* Removes outline after dropping block. */
.ProseMirror-selectednode .block-quote {
  outline: none;
}

/* Removes default left borders on indented blocks. */
.bn-block-group .bn-block-group .bn-block-outer:not([data-prev-depth-changed]):before {
  border-left: none;
}

/* Makes clicking right of the block move the cursor to the end of the block
rather than the start. */
.bn-block-content * {
  width: 100%;
}